dist: trusty
sudo: false
language: cpp
compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-7
    - g++-7
    - clang
    - help2man
    - libgsl0-dev
    - doxygen

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-7" CC="gcc-7"; fi

  # install conda to install build requirements
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - "./miniconda.sh -b"
  - export CONDA_PATH=$HOME/miniconda3
  - export PATH=$CONDA_PATH/bin:$PATH
  - conda update --yes conda
  - conda install --yes -c bioconda 'python<=3.5' viennarna gcc t_coffee

  # don't use libc++ for now
  # - if [ "$CXX" == "clang++" ]; then export CXXFLAGS="--stdlib=libc++" ; fi

before_script:
- autoreconf -i

script: 
- ./configure --with-vrna=${CONDA_PATH}
- make -j${CPU_COUNT}
- make -j${CPU_COUNT} check

before_deploy:
  - make dist-gzip
  - make dist-zip
  - make doxygen-doc
  - export DIST_GZIP=$(ls locarna-*.tar.gz)
  - export DIST_ZIP=$(ls locarna-*.zip)
  - export DOC_GZIP=${DIST_GZIP/locarna/locarna-doxy}
  - tar czf ${DOC_GZIP} Doxy
  - echo "Deploying API-Doc, Changelog and autoconf's dists (${DIST_GZIP} and ${DIST_ZIP}) to GitHub releases"

deploy:
  provider: releases
  api_key:
    secure: rHvVz0u8eLMD/m95NscWxqrvQJcwzoWqDU2FVg0toURBjzsPCYa/7t4s1Pu26ycCXW9fOc2UEJhQ60AVHuMFIM9n7EFJEqygZPZXs+Is6lFlQXphN8frWa2xb7gi25LvxH/mnd+XWIZdCTUT7us1rk9msXn48y7S9sR4qSIq8ibwB/5ZwtGCR9fybfdx4mhkIloUTGKjSslsFpwTjVLx/Ch1F3yULANMvaS8gwS7pE0d4Ci6HPFO7vi7QRtGJmtmeSvm+pNpriZ7oe/YUA+EWMWDRKyJQI2diM0j+V2YLcNB60Z2BO0L5My8Gre++pIwSgjd+uTy/p7Nwy8w8BT6LKSlwHwAM/lPd8JAzGoN+yBKEHUwJcnIfeGbG5RVgSNFn+8SOsECvy15JncMb+1rFLp3GrTCJhV+JSU6zvFLMZ9LzlKB8ARKZd9DrSW39zDWO6HRO53HMM6M5hjWV+msGYexQjmqRSc/U8nxYwtNziVJy2ndbp40eZnMMF9J8vMy/sWQy1U44amcIj+J+N8jc9rfIRx3/R559udCgYx+Tpn6GJVXd71ruLAWChVDWGE06kHHKgG8aljpZMUbwjG50Af3XyGLuuOBSMV2q7YDgQLkY9veSfhj6Znf9gQijRypLy6GJYAwVet8+MttYdN/sAjIqBZl9plLhJg3MXJtSfw=
  skip_cleanup: true
  file_glob: true
  overwrite: true
  file:
    - ${DIST_GZIP}
    - ${DIST_ZIP}
    - ${DOC_GZIP}
    - ChangeLog
  on:
    repo: s-will/LocARNA
    tags: true
